language: c
before_install:
  # Download and install Arduino IDE environment
  - wget http://downloads.arduino.cc/arduino-1.8.5-linux64.tar.xz
  - tar xf arduino-1.8.5-linux64.tar.xz
  - sudo mv arduino-1.8.5 /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
install:
  # Install the library in the arduino user libraries folder
  - ln -s $PWD /usr/local/share/arduino/libraries/Easyuino
script:
  ################################## Examples To Build ###################################
  # Communication
  - arduino --verify --board arduino:avr:uno $PWD/examples/GSMServiceExample.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/GSMServiceSecureExample.ino
  # Led
  - arduino --verify --board arduino:avr:uno $PWD/examples/RGBLedExample.ino
  # Relay
  - arduino --verify --board arduino:avr:uno $PWD/examples/RelayExample.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/RelayNamedExample.ino
  # Ultrasonic
  - arduino --verify --board arduino:avr:uno $PWD/examples/DistanceMeterExample.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/DistanceMeterNonBlockExample.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/DistanceMeterAccurateExample.ino
  # WaterDetector
  - arduino --verify --board arduino:avr:uno $PWD/examples/WaterDetectorExample.ino
  # WaterFlow
  - arduino --verify --board arduino:avr:uno $PWD/examples/WaterFlowSensorExample.ino
  - arduino --verify --board arduino:avr:uno $PWD/examples/WaterFlowMeterExample.ino
notifications:
  email:
    on_success: change
    on_failure: change